p {
	font-size: 16px;
	font-style: oblique;
	margin: 16px;
}

body{
	
	background-color: black;
	color: white;
	width: 750px;
	margin: auto;
	
	
}

.wrapper{
	
	display: flex;
	
}

h2{
	
	text-align: center;
	
}